*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    -webkit-user-drag: none;
}

:root {
    --blueRegular: #2e4da2;
    --blueLight: #3456b1;
    --unipYellow: #FFF100;
  }